@model IEnumerable<ClinicaWeb.Models.Municipio>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A9AA = "active";
    ViewBag.A9 = "active";
    ViewBag.A09 = "menu-open";
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Listado</h2>
    </div>
</div>
<br />
<p>
    <a class="btn btn-success" href="@Url.Action("Create","Municipios")"><i class="fa fa-plus"></i> Agregar Nuevo Municipio</a>
</p>
<table class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
           Nombre del Municipio
        </th>
        <th>
            Nombre del Departamento
        </th>
        <th> Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre_mun)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Departamento.Nombre_dpto)
    </td>
    <td>
        <a href="@Url.Action("Edit","Municipios",new { id = item.Id })" class="btn btn-info" title="Editar Municipio"><i class="fa fa-edit"></i></a> |
        <a href="@Url.Action("Delete","Municipios",new { id = item.Id })" class="btn btn-danger" title="Eliminar Municipio"><i class="fa fa-trash"></i></a>
    </td>
</tr>
    }

</table>
