@model ClinicaWeb.Models.DetalleResultado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleResultado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExamenResultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamenResultado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resultado.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resultado.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parametro.Nom_Parametro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parametro.Nom_Parametro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
