@model IEnumerable<ClinicaWeb.Models.DetalleResultado>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A03 = "menu-open";
    ViewBag.A3 = "active";
    ViewBag.A3AA = "active";
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Listado</h2>
    </div>
</div>
<br />
<table class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
            Resultado del Examen
        </th>
        <th>
          Observaciones
        </th>
        <th>
           Descripción
        </th>
        <th>
            Nombre de los parametros
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamenResultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parametro.Nom_Parametro)
            </td>
            <td>
                <a href="@Url.Action("Edit","DetalleResultadoes",new { id = item.Id })" class="btn btn-info" title="Editar"><i class="fa fa-edit"></i></a> |
                <a href="@Url.Action("Delete","DetalleResultadoes",new { id = item.Id })" class="btn btn-danger" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
