@model ClinicaWeb.Models.ExamenParametro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExamenParametro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Examen.Nombre_exa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen.Nombre_exa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parametro.Nom_Parametro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parametro.Nom_Parametro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
