@model IEnumerable<ClinicaWeb.Models.DetalleOrden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A01 = "menu-open";
    ViewBag.A1 = "active";
    ViewBag.A1AAAA = "active";
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Listado</h2>
    </div>
</div>
<br />
<table class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
           Cantidad
        </th>
        <th>
           Fecha Final
        </th>
        <th>
           Precio
        </th>
        <th>
            Estado
        </th>
        <th>
            Codigo de Orden
        </th>
        <th>
           Nombre del Examen
        </th>
        <th>
            Opciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden.Cod_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Examen.Nombre_exa)
            </td>
            <td>
                <a href="@Url.Action("Edit","DetalleOrdens",new { id = item.Id })" class="btn btn-info" title="Editar"><i class="fa fa-edit"></i></a> |
                <a href="@Url.Action("Delete","DetalleOrdens",new { id = item.Id })" class="btn btn-danger" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
