@model IEnumerable<ClinicaWeb.Models.DetalleOrden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A01 = "menu-open";
    ViewBag.A1 = "active";
    ViewBag.A1AAAA = "active";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden.Cod_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Examen.Nombre_exa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden.Cod_Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Examen.Nombre_exa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
