@model ClinicaWeb.Models.Empleado

@{
    ViewBag.Title = "Crear Empleado";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A6 = "active";
}

<h3>Agregue Informacion Del Empleado</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           
            <div class="col-md-10">
                <label> Nombre del empleado</label>
                @Html.EditorFor(model => model.Nom_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom_Empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <label> Correo electroncio del empleado</label>
                @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Cargo del empleado</label>
                @Html.DropDownList("CargoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CargoId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" />
               <a href="@Url.Action("Index","empleadoes")" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
