@model IEnumerable<ClinicaWeb.Models.Parametro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A2AA = "active";
    ViewBag.A02 = "menu-open";
    ViewBag.A2 = "active";
}

<h2>Parametros</h2>
<br />

<p>
    <a class="btn btn-success" href="@Url.Action("create","parametroes")"><i class="fa fa-plus"></i> Agregar Nuevo Examen</a>
</p>
<table class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
            <label>Nombre de los Parametros</label>
        </th>
        <th>
            <label>Maximo</label>
        </th>
        <th> Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Parametro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reactivo.Maximo)
        </td>
        <td>
            <a href="@Url.Action("Edit","parametroes",new { id = item.Id })" class="btn btn-info" title="Editar Parametro"><i class="fa fa-edit"></i></a> |
            <a href="@Url.Action("Delete","parametroes",new { id = item.Id })" class="btn btn-danger" title="Eliminar parametro"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
