@model ClinicaWeb.Models.Paciente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.R7 = "active";
    ViewBag.A10 = "active";
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-exclamation-triangle"></i>
            Eliminar Paciente
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
            Usted esta a punto de borrar información importante!
        </div>
        <h3>¿Seguro que quiere eliminar este usuario?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Nombre del Paciente
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre_pac)
                </dd>

                <dt>
                    Edad
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edad)
                </dd>

                <dt>
                    Correo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Correo)
                </dd>

                <dt>
                    Celular
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Celular)
                </dd>

                <dt>
                    Dirección
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt>
                    Municipio
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Municipio.Nombre_mun)
                </dd>
                <dt>
                    Sexo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo.TipoSexo)
                </dd>

            </dl>

        </div>
    </div>
    <!-- /.card-body -->
</div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
              <input type="submit" value="Eliminar Definitivamente" class="btn btn-success" />
              <a href="@Url.Action("Index","Pacientes")" class="btn btn-danger">Cancelar</a>
        </div>
    }
