@model IEnumerable<ClinicaWeb.Models.Paciente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.R7 = "active";
    int i = 0;
}

<div class="row">
    <div class="col-md-10">
        <h2>Lista de Pacientes</h2>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="download()" type="submit"><i class="fa fa-print"></i> Imprimir  Listado</button>
    </div>
</div>
<br />

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 500px;">
                <table class="table table-head-fixed table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th align="center">Nombres De los Pacientes</th>
                            <th align="center">Edades</th>
                            <th style="text-align:center">Correos</th>
                            <th align="center">Celulares</th>
                            <th align="center">Direcciones</th>
                            <th align="center">Municipios</th>
                            <th style="text-align:center">Sexos</th>
                            <th align="center">Opciones</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tbody>
                            <tr>

                                <td><strong>@i</strong></td>
                                <td align="center">@item.Nombre_pac</td>
                                <td align="center">@item.Edad</td>
                                <td align="center">@item.Correo</td>
                                <td align="center">@item.Celular</td>
                                <td align="center">@item.Direccion</td>
                                <td align="center">@item.Municipio.Nombre_mun</td>
                                <td align="center">@item.Sexo.TipoSexo</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Pacientes", new { id = item.Id })">
                                        <button type="button" class="btn btn-primary" data-bs-placement="top" title="Añadir Paciente">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>

                                    |
                                    <a href="@Url.Action("Delete", "Pacientes", new { id = item.Id })">
                                        <button type="button" class="btn btn-danger" data-bs-placement="top" title="Eliminar Paciente">
                                            <i class="fa fa-eraser"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    }

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<script type="text/javascript">
    function download() {
        window.open("/Pacientes/DescargarReportPaciente/");
    }
</script>

