@model ClinicaWeb.Models.Examen

@{
    ViewBag.Title = "Añadir Examen";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.A2 = "active";
    ViewBag.A02 = "menu-open";
    ViewBag.R4 = "active";
    ViewBag.A2A = "active";
}

<h3>Añadir Información de examenes</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Nombre del Examen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_exa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_exa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Precio del Examen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Categoria</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" />
                <a href="@Url.Action("Index","examen")" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
