@model ClinicaWeb.Models.DetalleFactura

@{
    ViewBag.Title = "Delete";
    ViewBag.A4 = "active";
    ViewBag.A4AA = "active";
    ViewBag.A04 = "menu-open";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-exclamation-triangle"></i>
            Eliminar Información
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
            Usted esta a punto de borrar información importante!
        </div>
        <h3>¿Seguro que quiere eliminar esta información?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Cantidad
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>

            <dt>
               Descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
              Precio Unitario
            </dt>

            <dd>
              C$  @Html.DisplayFor(model => model.PrecioUnitario)
            </dd>
            <dt>
              Sub Total
            </dt>

            <dd>
               C$ @Html.DisplayFor(model => model.Subtotal)
            </dd>

            <dt>
              Codigo de Orden
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Orden.Cod_Orden)
            </dd>

            <dt>
              Fecha de Factura
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Factura.FechaFac)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar Definitivamente" class="btn btn-success" />
                <a href="@Url.Action("Index","DetalleFacturas")" class="btn btn-danger">Cancelar</a>
            </div>
        }
    </div>

</div>

