@model IEnumerable<ClinicaWeb.Models.DetalleFactura>

@{
    ViewBag.Title = "Lista";
    ViewBag.A4 = "active";
    ViewBag.A4AA = "active";
    ViewBag.A04 = "menu-open";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Listado</h2>
    </div>
</div>
<br />
<table class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
         Cantidad
        </th>
        <th>
            Descripción
        </th>
        <th>
           Precio Unitario
        </th>
        <th>
           Sub Total
        </th>
        <th>
           Codigo de Orden
        </th>
        <th>
           Fecha de Factura
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
               C$ @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
              C$  @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden.Cod_Orden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.FechaFac)
            </td>
            <td>
                <a href="@Url.Action("Edit","DetalleFacturas",new { id = item.Id })" class="btn btn-info" title="Editar"><i class="fa fa-edit"></i></a> |
                <a href="@Url.Action("Delete","DetalleFacturas",new { id = item.Id })" class="btn btn-danger" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
