@model ClinicaWeb.Models.Medico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.R8 = "active";
    ViewBag.A7 = "active";
}

<h3>Agregue Información</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label> Nombre del Médico</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreMed, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreMed, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Número Celular</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" />
            <a href="@Url.Action("Index","medicos")" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
