@model IEnumerable<ClinicaWeb.Models.Medico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSis.cshtml";
    ViewBag.R8 = "active";
    ViewBag.A7 = "active";
}

<br />
<div class="row">
    <div class="col-md-10">
        <h2>Lista de Medicos</h2>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="download()" type="submit"><i class="fa fa-print"></i> Imprimir Listado de Medicos</button>
    </div>
</div>
<br />
<table  class="table table-bordered table-hover table-head-fixed  table-striped">
    <tr>
        <th>
            Nombre de los Médicos
        </th>
        <th>
            Números de Celulares
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                <a href="@Url.Action("Edit","medicos",new { id = item.Id })" class="btn btn-info" title="Editar Medico"><i class="fa fa-edit"></i></a> |
                <a href="@Url.Action("Delete","medicos",new { id = item.Id })" class="btn btn-danger" title="Eliminar Medico"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
<a href="@Url.Action("Create","medicos")" class="btn btn-success"><i class="fa fa-plus"></i> Ingresar Nuevo Medico</a>

<script type="text/javascript">
    function download() {
        window.open("/Medicos/DescargarReportMedico/");
    }
</script>
